body{
    background-color: rgb(63, 136, 96);    
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 400px;
    padding: auto;
    text-align: center;
    border: 2px solid rgb(173, 241, 183);
    zoom: 150%;
}

#h2 {
    margin-left: 175px;
    margin-right: auto;
}

#display > div {
    list-style-type: circle;
    width: 25%;
}

.finished {
    background-color: rgb(206, 255, 165);
}